@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">Hello, @User.Identity.Name!</p>
        <form asp-controller="IO" method="post" asp-action="Logout">
        <button type="submit">Logout</button>
        </form>
    }
    
</div>

@model List<RoomieManager.Models.RoomieModel>

<div style="display: flex;">
    <div style="width: 30%;  padding: 10px; border-right: 1px solid #6d70b2;">
        <h2>Roomies</h2>
        <ul style="list-style: none; padding: 10px;">
            @foreach (var r in Model)
            {
                <li style="margin-bottom: 10px;">
                    <img src="@r.photoURL" alt="Roomie Photo" style="width: 50px; height: 50px; border-radius: 50%;">
                    <span style="margin-left": 10px;">@r.name</span>
                </li>
            }
        </ul>
    </div>
</div>